tensorflow
scikit-learn
keras
gunicorn
requests
blinker
click
Flask-Cors
Flask
Jinja2
numpy
pandas
pytz
jsonschema
py
pyasn
pyasn-modules
pycairo
pycodestyle
pycups
pydocstyle
pydot
pyflakes
Pygments
PyGObject
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pylint
pylint-venv
pyls-black
pyls-spyder
pymacaroons
pympress7
PyNaCl
pynvml
pyparsing7
PyQt
PyQt-sip
PyQtWebEngine
pyRFC
pyrsistent
pysvn
python-apt+ubuntu
python-dateutil
python-debian+ubuntu
python-engineio
python-jsonrpc-server
python-language-server
python-lsp-black
python-lsp-jsonrpc
python-lsp-server7
python-pptx
python-slugify
python-socketio
python-xlib
pythran
pytoolconfig
pytz
pyudev
pyxdg7
PyYAML
pyzmq
