tensorflow
scikit-learn
keras
gunicorn
requests
Flask-Cors
Flask
Jinja2
numpy
pandas
jsonschema
python-apt+ubuntu
python-debian+ubuntu
python-engineio
python-jsonrpc-server
python-slugify
python-xlib
